@media (max-width: 2100px) {
  .backimage3{
    padding-left: 50px !important;
  }
}

@media (max-width: 1300px) {
  .backimage1{
    margin: 0 !important;
    padding: 0 !important;
    margin-top: 50px;
    width: 100% !important;
  }
  .backimage2{
    margin: 0 !important;
    padding: 0 !important;
    bottom: 50px;
    margin-top: 50px;
  }
}

@media (max-width: 768px) {
    .navbar,
    .navbar-nav,
    .navbar-toggler,
    .navbar-collapse,
    .breadcrumb,
    .lorem2,
    .lorem,
    .backimage3{
      margin: 0 !important;
      padding: 0 !important;
    }
    .backimage2{
      right: 0px !important;
    }
    .gallery-item{
      width: 200px !important;
      height: 200px !important;
    }
    .background-image{
      left: 0px !important;
    }
    .swiper-slide {
      grid-template-columns: 1fr 1fr 1fr 1fr !important;
      grid-template-areas:
      "a2 a2 a2 a2"
      "a1 a1 a3 a3"
      "a6 a6 a6 a6"
      "a4 a4 a5 a5" !important;
    }
    .breadcrumb{
      margin-top: 30px !important;
    }
  }

body{
  overflow-x: hidden;
}

.navbar-brand{
  font-size: 35px;
  font-weight: bold;
}

.navbar{
  padding-left: 150px;
  font-size: 25px;
  text-decoration: none;
  }

.nav-item:hover{
  text-decoration: underline;
}

.navbar-nav {
  margin-right: 150px;
  }

.navbar-toggler {
  margin-right: 150px;
  }

.navbar-collapse {
  margin-right: 100px;
  }

.separator{
  margin-left: 10px;
  margin-right: 10px;
}

.breadcrumb {
  margin: 20px 0;
  font-size: 14px;
  text-align: left;
  margin-left: 150px;
}

.home{
  width: 21px;
  height: 21px;
  margin-right: 8px;
}

.background-image {
  position: relative;
  background-size: cover;
  left: 150px;
  font-size: 65px;
  text-align: center;
  background-image: url("Gallery/background.jpg");
  background-position: right;
  background-repeat: no-repeat;
  object-fit: cover;
  width: 100%;
  height: 100px;
  color:white;
}

.backimage1{
  background-position: center;
  object-fit: cover;
  width: 80%;
  object-position: left;
  position: relative;
  float: left;
}

.backimage2 {
  background-position: center;
  object-fit: cover;
  width: 35%;
  object-position: right;
  position: relative;
  float: right;
  right: 100px;
  margin-top: -200px;
}

.backimage3{
  background-position: center;
  object-fit: cover;
  height: auto;
  width: 100%;
  object-position: right;
  position: relative;
  float: right;
  margin-top: 50px;
  padding-left: 100px;
}

.lorem{
  font-size: 20px;
  margin-right: 100px;
}

.lorem2{
  font-size: 20px;
  margin-left: 100px;
}

.list{
  list-style-image: url('Gallery/circle.jpg');
}

.gallery-item{
  background-size: cover;
  align-items: center;
  object-fit: cover;
  height: 500px;
  margin: 5px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
  grid-template-areas:
    "a1 a1 a2 a2 a2 a2 a3 a3"
    "a4 a4 a5 a5 a6 a6 a6 a6";
}

.swiper-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.swiper-pagination{
  position: relative;
  bottom: -50px;
}

.a1 { grid-area: a1; }
.a2 { grid-area: a2; }
.a3 { grid-area: a3; }
.a4 { grid-area: a4; }
.a5 { grid-area: a5; }
.a6 { grid-area: a6; }

.swiper-slide a {
  display: block;
  overflow: hidden;
  border-radius: 1rem;
}

.swiper-slide img {
  min-width: 100%;
  width: auto!important;
  object-fit: cover;
  object-position: center;
  height: 500px;
}
